# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ / VS Code (future-proof)
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs & temp
*.log
hs_err_pid*
replay_pid*

# OS
.DS_Store
Thumbs.db
